---
layout: default.njk
title: Kids2Cooks
---

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Learn to Cook</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container text-center">
    <div class="fs-5">
      Kids2Cooks is the perfect cooking website for kids, easy to navigate, not laggy, and pleasing to look at. <br/>
      We have every level of difficulty, from a peanut butter and Nutella sandwich to spaghetti. <br/>
      Even if you are a beginner, you can still easily find something that you can accomplish.  <br/>
      Even if you are vegan, there is still something for you.  <br/>
      Enjoy!</div> 
  </div>
</section>