---
layout: default.njk
title: Kids2Cooks
---

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Learn to Cook</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container">
    <div class="fs-5">
      Kids2Cooks is the perfect cooking website for kids! It's attractive, easy to navigate, and its recipes load quickly!
      Whether you are in the mood for a simple turkey and cheese sandwich or cheese pizza, we have you covered.
      <br/>
      <ul class="list-unstyled ms-sm-3">
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg me-1" style="color: #007500" viewbox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
          </svg> We have recipes for breakfast, lunch, and dinner.</li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg me-1" style="color: #007500" viewbox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
          </svg> We have recipes for vegans and vegetarians.</li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg me-1" style="color: #007500" viewbox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
          </svg> We have recipes for beginner, intermediate, and advanced cooks.</li>
        </ul>

        Enjoy!</div>
    </div>
  </section>